.relative {
  position: relative;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.m_l_20 {
  margin-left: 20px;
}
.p_20_0 {
  padding: 20px 0;
}
.p_40_0 {
  padding: 40px 0;
}
.m_40_0 {
  margin: 40px 0;
}
.pl_15 {
  padding-left: 15px;
}
.pr_15 {
  padding-right: 15px;
}
.pt_60 {
  padding-top: 60px;
}
.mb_50 {
  margin-bottom: 50px;
}
.white {
  color: white;
}
.f_weight {
  font-weight: bolder;
}
h1 {
  font-size: 3.5rem;
}
h3 {
  font-size: 2.5rem;
  font-weight: 400;
}
p {
  font-size: 1.5rem
}
i {
  margin: 0 5px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

header {
  width: 100%;
  height: 740px;
  background-image: url('../img/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.header_row {
  background-color: rgba(0, 0, 0, 0.5);
}
.container {
  max-width: 1400px;
  margin: auto;
  line-height: 65px;
}
.container_header ul li {
  display: inline-block;
  list-style: none;
}
.container_header ul li a {
  color: white;
  font-size: 14px;
  padding: 0 5px;
  text-decoration: none;
  text-transform: uppercase;
}
.language_list > li:not(:last-child) a {
  border-right: 1px solid white;
}
.container_header .row .col_8_lg {
  text-align: right;
}
.container_motto img {
  height: 60px;
}
.container_motto {
  text-align: center;
}
.veicle img {
  height: 345px;
}
.veicle .col_6_lg {
  text-align: center;
}
.veicle .col_6_lg a {
  display: block;
}
.card {
  background-color: #FAFAFA;
}
.how_work {
  height: 800px;
}
.how_work .col_4_lg {
  height: 800px;

}
.row_background {
  height: 500px;
  background-image: url('../img/sfondo.jpg');
  background-size: cover;
}
.container.cell {
  height: 800px;
}
.container.cell img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
}
.container.cell h3 {
  display: block;
  width: 240px;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}
.cell_text {
  position: absolute;
  bottom: 10%;
}
.container_smart_text h2 {
  font-size: 2.5rem;
}
.container_smart_text p {
  font-size: 1.2rem;
  line-height: 2rem;
}
.container_100 .col_6_lg {
  height: 500px;
}
.smart_app_find h3 {
  display: block;
  width: 300px;
  margin: auto;
  font-size: 2.5rem;
  font-weight: bolder;
}
.smart_app_find > .container >.row > .col_12_lg {
  text-align: center;
  background-image: url('../img/monopattino2.jpg');
}
.smart_app_find > .container >.row .app .card_app {
  height: 800px;
  text-align: center;
  background-image: url('../img/cell2.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-color: #32414F;
}
.smart_app_find > .container >.row .find .card_find {
  height: 800px;
  text-align: center;
  background-image: url('../img/sfondo2.jpg');
  background-size: cover;
}
.banner {
  height: 400px;
  background-color: lightgreen;
}
.banner_text {
  width: 400px;
  height: 200px;
  background-color: white;
}
footer {
  background-color: black;
}
footer a {
  color: gray;
  text-decoration: none;
}
footer ul li {
  list-style: none;
}
footer ul li:first-child {
  font-weight: bold;
  text-transform: uppercase;
}
footer ul li:first-child a {
  color: white;
}
.footer_img {
  text-align: center;
}
.footer_img img {
  height: 40px;
}
footer .footer_logo {
  text-align: center;
}


/* MEDIA QUERY */

@media all and (max-width: 1500px){
  .row_background {
    height: 400px;
    background-image: url('../img/sfondo.jpg');
    background-size: cover;
  }
  .how_work .col_4_lg {
    height: 700px;
  }
  .container.cell img {
    width: 280px
  }
}
@media all and (max-width: 1200px){
  .row_background {
    height: 300px;
    background-image: url('../img/sfondo.jpg');
    background-size: cover;
  }
  .how_work .col_4_lg {
    height: 600px;
  }
  .container.cell img {
    width: 250px
  }

}
@media all and (max-width: 1200px){

  .pl_15_md {
    padding-left: 15px;
  }
  .pr_15_md {
    padding-right: 15px;
  }
  .container_header ul li a {
    font-size: 10px;
  }
  h1 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.5rem;
    font-weight: 400;
  }
  p {
    font-size: 1rem
  }
  .container_smart_text h2 {
    font-size: 2rem;
  }
  .container_smart_text p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
